@import url("groups_sidebar.css");
@import url("info_sidebar.css");
@import url("header.css");

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
    min-width: 960px;
    font-size: 62.5%;
    color: white;
    background-color: #636363;
}

.page {
    height: 100%;
    padding-top: 54px;
    background-color: #f0f7f2;
}

/* Fonts */
h1, h2, h3, h4, h5, h6 {
    font-family: Trebuchet MS;
    font-weight: bold;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 4em;
}

h3 {
    font-size: 3em;
}

h4 {
    font-size: 2.5em;
}

p, li, .btn a {
    font-size: 2.25em;
    font-family: "Franklin Gothic Medium", "Franklin Gothic", Arial, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

main {
    height: 100%;
    color: #636363;
    padding: 20px;
    overflow: auto;
}

.btn {
    padding: 12px 8px;
    cursor: pointer;
    margin-top: 16px;
}

.btn-solid {
    text-align: center;
    background-color: #929292;
    color: white;
}

.btn-solid:hover {
    background-color: #afafaf;
}

.section {
    margin-bottom: 20px;
    padding: 14px;
    border: 1px solid #cacaca;
    background-color: white;
}

.section:last-of-type {
    margin-bottom: 0px;
}

.sections-holder {
    overflow: hidden;
    padding-right: 20px;
    margin-right: 240px;
}

.company-heading {
    position: relative;
}

.company-heading .member-count {
    position: absolute;
    right: 0px;
}

.company-heading .title-select {
    position: absolute;
    right: 60px;
    font-weight: normal;
    font-size: 0.9em;
    line-height: 1.11;
}

.median-summary {
    padding: 16px;
    text-align: center;
}

.median-summary .median {
    margin-bottom: 10px;
}

.caption {
    text-transform: uppercase;
    font-size: 1.75em;
    font-weight: 600;
    line-height: 1.2;
    color: #909090;
}

.canvas-holder {
    width: 300px;
    height: 300px;
    margin: 20px auto 0 auto;
}
