@import url("groups_sidebar.css");
@import url("info_sidebar.css");
@import url("header.css");

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
    min-width: 960px;
    font-size: 62.5%;
    color: white;
    background-color: #636363;
}

.page {
    height: 100%;
    padding-top: 54px;
    background-color: #f0f7f2;
}

/* Fonts */
h1, h2, h3, h4, h5, h6 {
    font-family: Trebuchet MS;
    font-weight: bold;
}

h1 {
    font-size: 6em;
}

h2 {
    font-size: 4em;
}

h3 {
    font-size: 3em;
}

h4 {
    font-size: 2.5em;
}

p, li, .btn a, th, td {
    font-size: 2.25em;
    font-family: "Franklin Gothic Medium", "Franklin Gothic", Arial, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

main {
    height: 100%;
    color: #636363;
    padding: 20px;
    overflow: auto;
}

.btn {
    padding: 12px 8px;
    cursor: pointer;
    margin-top: 16px;
}

.btn-solid {
    text-align: center;
    background-color: #4f696f;
    color: white;
}

.btn-solid:hover {
    background-color: #6c858a;
}

.section {
    margin-bottom: 20px;
    padding: 14px;
    border: 1px solid #cacaca;
    background-color: white;
}

.section:last-of-type {
    margin-bottom: 0px;
}

.sections-holder {
    overflow: hidden;
    padding-right: 20px;
    margin-right: 240px;
}

.company-holder {
    overflow: hidden;
    margin-bottom: 24px;
}

.company-heading {
    float: left;
}

.company-util {
    text-align: right;
    font-size: 2.7em;
    line-height: 25px;
}

.title-select {
    margin-right: 16px;
    color: #4f696f;
    cursor: pointer;
}

.title-select:hover {
    color: #6c858a;
}

.stat-summary {
    margin: auto;
    width: 66%;
    text-align: center;
    table-layout: fixed;
}

.stat-numbers td {
    font-size: 7em;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    padding: 6px;
}

.stat-numbers td.emphasize {
    font-size: 8em;
}

.stat-captions td {
    padding: 6px;
}

.caption, .stat-captions td {
    text-transform: uppercase;
    font-size: 1.75em;
    font-weight: 600;
    line-height: 1.4;
    color: #909090;
}

.section > .caption {
    margin-bottom: 20px;
}

.salary-table {
    margin: 0 auto 20px auto;
    width: 80%;
    text-align: center;
}

.salary-table th, .salary-table td {
    padding: 8px;
}

.salary-table tbody tr:first-of-type {
    border-top: 1px solid #cacaca;
    border-bottom: 1px solid #cacaca;
    text-align: left;
}

.salary-table tbody tr:first-of-type td:last-of-type {
    text-align: right;
}

.salary-table tbody tr:nth-of-type(even) {
    background-color: #e5f1f3;
}

.canvas-holder {
    width: 90%;
    margin: 0 auto 20px auto;
    padding: 16px 0 8px 0;
}
