header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 54px;
    background-color: #72996b;
}

header .logo {
    position: absolute;
    left: 20px;
    line-height: 54px;
}

header .username {
    position: absolute;
    top: 5px;
    right: 20px;
    font-weight: normal;
    cursor: pointer;
    line-height: 44px;
}
